/*  Color
Web color, Color activ button, email, phone, button-hero - #2196F3 !!!
Color passiv button, h2, h3, button-portfolio-passiv - #212121 !!!
Color passiv email, phone, p - #757575 !!!

background header - #FFFFFF
background hero, footer - #2F303A
background main - #E5E5E5
backgrpund section our team - #F5F4FA

text hero, button-hero, address, button-portfolio-active - #FFFFFF
email+phone-footer - rgba(255, 255, 255, 0.6);

*/

/* Font
Font logo - Raleway 700
Font nav, mail, phone, hero, button-hero, h2, h3, p, address, email+phone-footer - Roboto 400, 500, 700, 900
*/

:root {
  --primary-text-color: #757575;
  --activ-button-color: #2196f3;
  --title-text-color: #212121;
  --text-hero-color: #ffffff;
  --border-example-color: #eeeeee;
  --secondary-bg-color: #f5f4fa;
  --primary-fill-color: #afb1b8;
  --network-bg-color: rgba(255, 255, 255, 0.1);
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

header {
  background-color: #ffffff;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero-button,
.button-portfolio {
  cursor: pointer;
}

/* header */
.container.header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.button.accent {
  color: var(--activ-button-color);
}

.logo {
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.logo-text {
  color: var(--activ-button-color);
}

.site-nav,
.contact-main {
  display: flex;
}

.site-nav .item:not(:last-child),
.contact-main .item:not(:last-child) {
  margin-right: 50px;
}

.contact-main {
  margin-left: auto;
}

.site-nav .button,
.contact-main .contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.button:hover,
.button:focus {
  color: var(--activ-button-color);
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: currentColor;
}

.contact:hover,
.contact:focus {
  color: var(--activ-button-color);
}

/* HERO */

.hero {
  padding-top: 0;
  padding-bottom: 0;
  color: var(--text-hero-color);
  text-align: center;
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  width: 696px;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;

  min-width: 200px;
  min-height: 50px;

  background-color: var(--activ-button-color);
  color: var(--text-hero-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /*display: flex;*/
  align-items: center;
  letter-spacing: 0.06em;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* VALUES */

.values-list {
  display: flex;
  justify-content: space-between;
}

.values-list .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.values-list .item:nth-child(4) {
  margin-right: 0;
}

.values-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.values-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.icons-values {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  height: 120px;

  border-radius: 4px;
  background-color: var(--secondary-bg-color);
}

/* WORK */
.work {
  padding-top: 0px;
}

.work-list,
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.work-list .item:nth-child(3n) {
  margin-right: 0;
}

/* TEAM */

.work-title,
.team-title,
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.team-list > .item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  padding-bottom: 30px;

  background: var(--text-hero-color);

  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:nth-child(4n) {
  margin-right: 0;
}

.team-list img {
  display: block;
  margin-bottom: 30px;
}

.employee {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.proffesion {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.icon-list {
  display: flex;
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
}

.icon-list > .item {
  width: 44px;
  height: 44px;
}

.icon-list > .item:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  color: var(--primary-fill-color);
}

.icon-link:hover,
.icon-link:focus {
  color: var(--text-hero-color);
  background-color: var(--activ-button-color);
}

.icon-network {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Ñlients */

.clients-list {
  display: flex;
  margin: 0;
}

.clients-list > .item {
  width: 170px;
  height: 90px;
}

.clients-list > .item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--primary-fill-color);
  border-radius: 4px;
  border: 1px solid var(--primary-fill-color);
}

.client-link:hover,
.client-link:focus {
  color: var(--activ-button-color);
  border: 1px solid var(--activ-button-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.client-logo {
  fill: currentColor;
}

/* footer */

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container.footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.footer-contacts > .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo-footer {
  color: #ffffff;
}

.address {
  margin-bottom: 9px;
  color: #ffffff;
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
}

.contacts-footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join {
  margin-left: 70px;

  width: 206px;
  height: 80px;
}

.join > p {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-hero-color);
}

.network-list-company {
  display: flex;
  justify-content: space-between;
}

.network-list-company .item {
  width: 44px;
  height: 44px;
}

.network-list-company .item:not(:last-child) {
  margin-right: 10px;
}

.network-link-company {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  color: var(--text-hero-color);
  background-color: var(--network-bg-color);
}

.network-link-company:hover,
.network-link-company:focus {
  background-color: var(--activ-button-color);
}

.icon-network-company {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Portfolio */

.header-border {
  border: 1px solid #ececec;
}

.portfolio {
  margin-bottom: 0;
}

.project-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.project-list .item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  min-width: 73px;
  min-height: 38px;

  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--activ-button-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.example-list > .example {
  width: 370px;
  margin: 15px;
}

.example {
  display: block;
}

.example-icon {
  display: block;
}

.example-icon:focus,
.example-icon:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-list img {
  display: block;
  max-width: 100%;
  height: auto;
}

.example-content {
  padding: 20px 24px;
  background-color: var(--text-hero-color);
  border-right: 1px solid var(--border-example-color);
  border-bottom: 1px solid var(--border-example-color);
  border-left: 1px solid var(--border-example-color);
}

.example-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
